- `Dictionary is the only one which is used to parepare the structured data but not to show the data .`
- `Dictionary will be represented with -> {} even sets are also represented with {} -> but dict is represented with Key_value pair where key will be column name and value will be column values ....`

In [ ]:
a = {'Age':30,'Loc':'chennai','Salary':1200}

print(a)

print(type(a))

{'Age': 30, 'Loc': 'chennai', 'Salary': 1200}
<class 'dict'>

In [ ]:
a = {'Age':[30,40,50],'loc':['chennai','bangalore','HYD'],'Salary':[1200,1800,2200]}

print(a)

{'Age': [30, 40, 50], 'loc': ['chennai', 'bangalore', 'HYD'], 'Salary': [1200, 1800, 2200]}

- `using dict I will prepare data and -> will give to pandas library `

In [ ]:
a = {'Age':[30,40,50],'loc':['chennai','bangalore','HYD'],'Salary':[1200,1800,2200]} # data is prepared

import pandas as pd

pd.DataFrame(a) # giving prepared data to pandas

   Age        loc  Salary
0   30    chennai    1200
1   40  bangalore    1800
2   50        HYD    2200

In [ ]:
# in dict values can be anything

a = {'age':30,'salary':55.55,'loc':'hyd','pincode':(500085),'state':['Telangana'],'data':{1,2,3}}

print(a)

{'age': 30, 'salary': 55.55, 'loc': 'hyd', 'pincode': 500085, 'state': ['Telangana'], 'data': {1, 2, 3}}

In [ ]:
# mutable types are not allowed in dict as a key

a = {1:500,2.2:800,'loc':'hyd',['pincode']:500085}

print(a)

TypeError: unhashable type: 'list'

In [ ]:
a = {'Age':30,'Loc':'chennai','Salary':1200}

print(a)

{'Age': 30, 'Loc': 'chennai', 'Salary': 1200}

In [ ]:
print(a['Salary'])

1200

In [ ]:
a = {'Age':[30,40,50],'loc':['chennai','bangalore','HYD'],'Salary':[1200,1800,2200]}

print(a)

{'Age': [30, 40, 50], 'loc': ['chennai', 'bangalore', 'HYD'], 'Salary': [1200, 1800, 2200]}

In [ ]:
print(a['loc'][1:])

['bangalore', 'HYD']

In [ ]:
print(a['Age'])

[30, 40, 50]

**Dictionary is a Mutable or Immutable -> Prove it**

In [ ]:
# add
# delete

In [ ]:
fruits = {'apple':500,'carrot':100}

print(f'Before adding = {fruits}')

fruits['banana'] = 1000

print(f'After adding : {fruits}')

Before adding = {'apple': 500, 'carrot': 100}
After adding : {'apple': 500, 'carrot': 100, 'banana': 1000}

In [ ]:
# fill an empty dict

fruits = {}

print(fruits)


fruits['apple'] = 900
fruits['grapes'] = 200

print(fruits)

{}
{'apple': 900, 'grapes': 200}

In [ ]:
# deleting

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

print(f'before deleting : {b}')

del b['carrot']

print(f'After deleting : {b}')

before deleting : {'apple': 500, 'carrot': 100, 'banana': 1000}
After deleting : {'apple': 500, 'banana': 1000}

- `from these operations we can say that dict is mutable `

**Dictionary Built_in_functions**

- `get `
- `update `
- `pop `
- `popitem`
- `key `
- `value`
- `items `
- `clear`
- `copy`

In [ ]:
# get -> used to call the required data from the existing dict

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

print(b['carrot'])

100

In [ ]:
# get -> used to call the required data from the existing dict

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

print(b.get('carrot'))

100

In [ ]:
# update -> which is used to add key_value to the existing dict

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

b['grapes'] = 200

print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000, 'grapes': 200}

In [ ]:
# update -> which is used to add key_value to the existing dict

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

b.update({'grapes':200,'orange':1700})

print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000, 'grapes': 200, 'orange': 1700}

In [ ]:
# pop -> will take key from the user and will remove that key_value

b = {'apple': 500, 'carrot': 100, 'banana': 1000}


b.pop('carrot')


print(b)

{'apple': 500, 'banana': 1000}

In [ ]:
# popitem -> will remove last key_value


b = {'apple': 500, 'carrot': 100, 'banana': 1000}

b.popitem()

print(b)

{'apple': 500, 'carrot': 100}

In [ ]:
# key

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

print(b.keys())

dict_keys(['apple', 'carrot', 'banana'])

In [ ]:
# values

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

print(b.values())

dict_values([500, 100, 1000])

In [ ]:
# items

b = {'apple': 500, 'carrot': 100, 'banana': 1000}

print(b.items())

dict_items([('apple', 500), ('carrot', 100), ('banana', 1000)])

In [ ]:
# clear

b = {'apple': 500, 'carrot': 100, 'banana': 1000}


b.clear()

print(b)

{}

In [ ]:
# copy


b = {'apple': 500, 'carrot': 100, 'banana': 1000}

a = b

print(a)
print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000}
{'apple': 500, 'carrot': 100, 'banana': 1000}

In [ ]:
# copy


b = {'apple': 500, 'carrot': 100, 'banana': 1000}

a = b.copy()

print(a)
print(b)

{'apple': 500, 'carrot': 100, 'banana': 1000}
{'apple': 500, 'carrot': 100, 'banana': 1000}